<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CleanUp service offer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-grid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <script src="js/handlebars.js"></script>
    <style> 
    body {
        padding: 48px;
        font-family: 'Noto Sans', sans-serif;
    }
        .img-fluid {
            width: 100%;
            height: auto;
        }
        .logo {
            max-width: 189px; 
        }
        header address{
            font-size: 16px;
            text-align: right;
            line-height: 1.3;
            font-style: normal;
        }
        .firm-color {
            color: rgb(91,155,213);
        }
        .text-center {
            text-align: center;
        }
        p {
            display: block;
            font-size: 16px;
            margin: 5px;
        }
        .header {
            font-weight: 700;
        }
        .partners {
            padding: 10px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .mt {
            margin-top: 1rem;
        }
        .text-uppercase {
            text-transform: uppercase;
        }
        .table p{
            margin: 12px 0;
        }
        .table .firm-color-bg {
            background-color: rgb(91,155,213);
        }
        .table div {
            border: 1px solid grey;
            border-top: none;
        }
        .text-white {
            color: white;
        }
        .podpis {
            position: relative;
        }
        .podpis::after {
            content: "";
            position: absolute;
            background: transparent url('https://cleanupcleaning.bitrix24.ru/docs/pub/e572cec173f0e897ed097369faccad31/showFile/?&token=ypu7ztddxo3s') 50% 50% no-repeat / cover;
            width: 188px;
            height: 188px;
            bottom: -190px;
            right: 60px;
        }
        .podpis::before {
            content: "";
            position: absolute;
            background: transparent url('https://cleanupcleaning.bitrix24.ru/docs/pub/5cb7401b6dc963738d92ac75a82d41f2/showFile/?&token=g3sopv7sy1xs') 50% 50% no-repeat / cover;
            width: 168px;
            height: 75px;
            bottom: 0;
            right: 60px;
        }
    </style>
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/1c52d017f773422b92b43aca90df18fe/showFile/?&token=hef0h3skp9sh" alt="logo" class="img-fluid logo">
            </div>
            <div class="col-6">
                <address>Республика Татарстан, г. Казань</address>
                <address>Тел. +7 (843) 207-02-96</address>
                <address>ООО «КЛИН АП»</address>
            </div>
        </div>
    </header>
    <div class="container-fluid mt">
        <div class="row">
            <div class="col-12">
                    <p class="text-center">Клининговая компания <span class="firm-color header">«КЛИН АП»</span> на рынке с 2013 года. 
                        Наш основной профиль — это регулярная уборка деловых центров и 
                        развлекательных заведений.</p>
            </div>
            <div class="col-12">
                <p class="header text-center">Постоянные клиенты нашего сервиса:</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/ba1b7dab82a2c30797f63a5f7a2a7032/showFile/?&token=0d445q6eovta" alt="biluar" class="img-fluid">
            </div>
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/26653030bf4ec37565ac11af6f8739c3/showFile/?&token=vsbni6t34smj" alt="prospect" class="img-fluid">
            </div>
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/a56ff378fbccac5ef2718fdd8d4ece6a/showFile/?&token=lcwtg3crek64" alt="tatspirtprom" class="img-fluid">
            </div>
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/a0b0af723db8d59582fd86aa6d39994e/showFile/?&token=ahli3qelvv4c" alt="aktash" class="img-fluid">
            </div>
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/0eadf0f2a23c6dd31aba63180f7c1b69/showFile/?&token=tx4zmrq2wo0z" alt="port" class="img-fluid">
            </div>
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/28927689e85d51086ad37bfe6d3888cf/showFile/?&token=926p27r02zii" alt="arishmae" class="img-fluid">
            </div>
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/25509ef92643889947d80cb72992e814/showFile/?&token=faruf4rrg3b5" alt="xfit" class="img-fluid">
            </div>
            <div class="col-3 partners">
                <img src="https://cleanupcleaning.bitrix24.ru/docs/pub/bd7c431246803f9bb19d7d87590e9116/showFile/?&token=aqtlmemwdekj" alt="augustina" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="header">Также мы выполняем такие работы, как:</p>
            </div>
            <div class="col-6">
                <ul>
                    <li>Мытье фасадов и окон</li>
                    <li>Уборка после стройки и ремонта</li>
                    <li>Химчистка мягкой мебели</li>
                </ul>
            </div>
            <div class="col-6">
                <ul>
                    <li>Уборка любого типа помещений</li>
                    <li>Чистка снега с крыш</li>
                    <li>Уборка придомовой территории</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="header">Работая с нами, вы забудете про такие проблемы как:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    <li class="firm-color header" style="list-style-type: disc;">Поиск уборщиц</li>
                    <li style="list-style-type: none;">Даже если исполнитель попросит уволиться, или заболеет и т.п., мы своевременно, оперативно найдем ему замену, и вам не придется объяснять новым сотрудникам по 500 раз, что нужно делать. На это мы закрепляем на объект управляющего, на которого возложена данная функция.</li>
                    <li class="firm-color header" style="list-style-type: disc;">Контроль над уборкой</li>
                    <li style="list-style-type: none;">Следить за качеством не придется, этим займется наш квалифицированный управляющий, который отвечает за полный порядок на вашем объекте.</li>
                    <li class="firm-color header" style="list-style-type: disc;">Оплата наличными</li>
                    <li style="list-style-type: none;">Мы знаем, что 99% наёмных частных уборщиц, нуждаются в оплате наличными, а порой и вовсе просят выдавать их день в день. Это катастрофически не удобно, каждый раз отдавать деньги наличными. В то время когда мы, работаем по оплате по расчетному счету.</li>
                    <li class="firm-color header" style="list-style-type: disc;">Не презентабельный внешний вид уборщиц</li>
                    <li style="list-style-type: none;">Не опрятный внешний вид у частных уборщиц, заставляет задуматься о престижности вашей организации. Наши же исполнители, строго соблюдают дресс-код. Выглядят аккуратно и презентабельно, что в любом случае идёт в плюс вашей организации.</li>
                </ul>
                            
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="header text-uppercase text-center mt">КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</p>
            </div>
        </div>
        <div class="table row">
            <div class="col-9 firm-color-bg">
                <p class="text-center text-white">Тип услуги</p>
            </div>
            <div class="col-3 firm-color-bg">
                <p class="text-center text-white">Стоимость/мес (без НДС)</p>
            </div>
            <div class="col-9">
                <p class="text-center">Уборка помещения ~{{Offer.area}}м<sup>2</sup> регулярность {{Offer.regular}}
                    <br>уборочный инвентарь и химия для уборки приобретается Заказчиком
                </p>
            </div>
            <div class="col-3">
                <p class="text-center header"> {{Offer.details.itog}}</p>
            </div>
            <div class="col-9">
                <p class="text-center">Уборка помещения ~{{Offer.area}}м<sup>2</sup>
                    <br>уборочный инвентарь и химия для уборки включены в стоимость
                </p>
            </div>
            <div class="col-3">
                <p class="text-center header"> {{Offer.details.itogMaterial}}</p>
            </div>
                    
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="header">Адрес оказания услуги: {{Lead.address}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="header">В стоимость услуг не включено: </p>
                <p>Мыло(жидкое/твердое), туалетная бумага, салфетки для рук, освежитель воздуха, пакеты, порошок и т.п.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 5rem;">
        <div class="row">
            <div class="col-6">
                <p class="header">Директор</p>
            </div>
            <div class="col-6 podpis">
                <p style="text-align: right;">______________/ А.Э. Валеев</p>
            </div>
        </div>
    </div>

</body>
</html>